.App {
  margin-top: 10px;
  margin-left: 300px;
  text-align: center;
  background-color :rgb(255, 255, 255);
  border: solid 2px black ;
  width: 800px;
  height: 600px;
  border: 1px solid rgb(54, 50, 50);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  


}

.photo {
margin-top: 10px;
  border: 1px solid rgb(54, 50, 50);
 
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.photo:hover {
  width: 300px; 
  height: 400px;
  border-radius: 70%;  /* on arrondit l'image */
  /*-webkit-transform: rotate(360deg); /* rotation de l'image */
  /*transform: rotate(360deg);*/
 
}




h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 1em;
  line-height: 16px;
  color :blue ;
}





.container {
  margin-left: auto;
    margin-right: auto;
    width: 6em;
  
  position: relative;
  width: 50%;
  max-width: 300px;
}




